.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register_form {
    border: 2px solid rgb(148, 141, 141);
    border-radius: 15px;
    box-shadow: 2px 4px 4px 6px;
    padding: 40px;
    width: 30%;
    background-color: rgb(126, 157, 166);
}

.heading {
    text-align: center;
    margin-bottom: 38px;
}

.content {
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
    height: 33px;
}

.direct {
    margin-right: 20px;
}